<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CPFMS</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css"
        rel="stylesheet" />

    <link rel="stylesheet" href="/css/master-index.css">
    <link rel="stylesheet" href="/css/master/account_balance.css">


    <script>

        var data_local = <%- JSON.stringify(data) %>;

        function submitform(pagenum) {
            totalpages = parseInt("<%= totalpages %>")
            if (pagenum > totalpages)
                return false;
            if (pagenum <= 0)
                return false;
            $("#paginationform #pageno").val(parseInt(pagenum));
            $("#paginationform").submit();
        }

        $(document).ready(function () {

            $(".loading").hide();

            $("#paginationform").on('submit', function (e) {
                e.preventDefault();
                var pvalue = $("#paginationform #pageno").val();
                var evalue = $(".entries #entryid").val();
                var callback = <%- JSON.stringify(callbackurl) %>;
                var newurl = "/accountbalance/search?" + callback + "&entries_per_page=" + evalue +"&pagenum=" + pvalue;
                window.location.href = newurl;                
            });

            $(".entries").on('submit', function (e) {
                e.preventDefault();
                var evalue = $(".entries #entryid").val();
                var callback = <%- JSON.stringify(callbackurl) %>;
                var newurl = "/accountbalance/search?" + callback + "&entries_per_page=" + evalue;
                window.location.href = newurl;
            });

            // Shortcut
            $(window).bind("keydown", function (e) {
                counter = 0;
                // Ctrl + S = Search
                if (e.ctrlKey && e.which == 83) {
                    e.preventDefault();
                    $("#deleteEmployeeModal").modal('hide');
                    $(".table-title #search").click();
                    return false;
                }
                // Ctrl + A = Add
                else if (e.ctrlKey && e.which == 65) {
                    e.preventDefault();
                    $(".table-title #addnew span").click();
                    return false;
                }
                // Ctrl + D = Delete Multiple
                else if (e.ctrlKey && e.which == 68) {
                    e.preventDefault();
                    $("#searchEmployeeModal").modal('hide');
                    $(".table-title #multipledelete").click();
                    return false;
                }
                return true;
            });

            var counter = 0;

            // Idle Time logout counter
            setInterval(function () {
                counter = counter + 1;
                if (counter >= 30) {
                    var url = window.location.href;
                    var arr = url.split("/");
                    var redirect_location = arr[0] + "//" + arr[2] + "/auth/loggedouttotimeout";
                    window.location.href = redirect_location;
                }
            }, 60000);

            $(this).mousemove(function (e) {
                counter = 0;
            });

            $(".navbar .nav .dropdown").hover(
                function () {
                    $(this).addClass('active');
                },
                function () {
                    $(this).removeClass('active');
                }
            );


            $(".container .alert-success, .container .alert-info").delay(1000).fadeIn(500, function (e) {
                setTimeout(function () {
                    $(".container .alert-sucess").fadeOut(500);
                    $(".container .alert-info").fadeOut(500);
                }, 3000);
                $(document).keydown(function (e) {
                    if (e.keyCode === 27) {
                        $(".container .alert").fadeOut(500);
                    }
                });
            });
            $(".container .alert-danger").delay(1000).fadeIn(500, function () {
                $(document).keydown(function (e) {
                    if (e.keyCode === 27) {
                        $(".container .alert").fadeOut(500);
                    }
                });
            });

            // Activate tooltip
            $('[data-toggle="tooltip"]').tooltip();

            // Activate Select Picker 
            $('.selectpicker').selectpicker();

            // Pagination Form Submit
            $(".entries #entryid").change(function () {
                $(".entries").submit();
            });

            // Empty Entry on load
            $("#deleteEmployeeModal form #hidden-input").empty();

            // Delete One Entry
            $('table tbody .delete').click(function () {
                setTimeout(function () {
                    $("#deleteEmployeeModal .modal-footer #cancel").focus();
                }, 500);
                var index = this.id;
                var account_id = data_local[index].account_id;
                var sub_account_id = data_local[index].sub_account_id;
                var inputhtml = '<input type="hidden" name="account_ids[]" value="' + account_id + '">' + '<input type="hidden" name="sub_account_ids[]" value="' + sub_account_id + '">';
                $("#deleteEmployeeModal form #hidden-input").append(inputhtml);
            });

            //Cancel event of delete modal
            $("#deleteEmployeeModal").on("hidden.bs.modal", function () {
                $("#deleteEmployeeModal form #hidden-input").empty();
            });

            // Delete Multiple Entry
            $(".table-title #multipledelete").click(function (e) {
                e.preventDefault();
                var checkbox = $('table tbody input[type="checkbox"]');
                var count = 0;
                checkbox.each(function () {
                    if (this.checked) {
                        ++count;
                        var index = this.id;
                        var account_id = data_local[index].account_id;
                        var sub_account_id = data_local[index].sub_account_id;
                        console.log(account_id, sub_account_id);
                        var inputhtml = '<input type="hidden" name="account_ids[]" value="' + account_id + '">' + '<input type="hidden" name="sub_account_ids[]" value="' + sub_account_id + '">';
                        $("#deleteEmployeeModal form #hidden-input").append(inputhtml);
                    }
                });
                if (count == 0)
                    return false;
                setTimeout(function () {
                    $("#deleteEmployeeModal .modal-footer #cancel").focus();
                }, 500);
            });

            // Search Modal
            $(".table-title #search").click(function () {
                setTimeout(function () {
                    $("#searchEmployeeModal input[name=searchtext]").focus();
                }, 500);

            });

        });

        function viewentry(index) {
            var item = data_local[index], selector, date, dd, mm, yyyy;
            for (key in item) {
                selector = "#table_" + key;
                if (key.includes("date")) {
                    if (item[key] == null) {
                        $(selector).text("dd/mm/yyyy");
                        continue;
                    }
                    date = new Date(item[key]);
                    dd = date.getDate();
                    dd = dd < 10 ? '0' + dd : dd;
                    mm = date.getMonth() + 1;
                    mm = mm < 10 ? '0' + mm : mm;
                    yyyy = date.getFullYear();
                    $(selector).text(dd + " / " + mm + " / " + yyyy);
                }
                else {
                    $(selector).text(item[key]);
                }
            }
        }

        function editredirect(index) {
            var account_id = data_local[index].account_id;
            var sub_account_id = data_local[index].sub_account_id;
            var url = window.location.href;
            var arr = url.split("/");
            var req_url = arr[0] + "//" + arr[2] + "/accountbalance/edit/" + account_id + '/' + sub_account_id;
            window.location.href = req_url;
        }

    </script>

</head>

<body>
    <%- include('../../partials/navbar.ejs') %>
    <main>
        <div class="container">
            <%- include('../../partials/err.ejs') %>
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Master - <b>Account Balance</b></h2>
                        </div>
                        <div class="col-sm-6" id="shortcut">
                            <a href="/accountbalance/add" class="btn btn-success" id="addnew"><i
                                    class="material-icons">&#xE147;</i> <span><b>Add New</b></span></a>
                            <% if(user_type === 'ADMIN') { %>
                            <a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal"
                                id="multipledelete"><i class="material-icons">&#xE15C;</i>
                                <span><b>Delete</b></span></a>
                            <% } %>
                            <a href="/accountbalance" class="btn btn-warning" data-toggle="modal" id="clearsearch"><i
                                    class="material-icons">&#xe888;</i> <span><b>Clear</b></span></a>
                            <b>Searched Text : </b> <input type="text" value="<%= searchtext %>"
                                style="width: 30%; text-align: center; color: black;" disabled>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>
                                <form action="/accountbalance/search" class="entries">
                                    <span>
                                        <select id="entryid" name="entries_per_page">
                                            <% if(entries_per_page==25) { %>
                                            <option selected>25</option>
                                            <% } else { %>
                                            <option>25</option>
                                            <% } %>
                                            <% if(entries_per_page==50) { %>
                                            <option selected>50</option>
                                            <% } else { %>
                                            <option>50</option>
                                            <% } %>
                                            <% if(entries_per_page==100) { %>
                                            <option selected>100</option>
                                            <% } else { %>
                                            <option>100</option>
                                            <% } %>
                                        </select>
                                    </span>
                                </form>
                            </th>
                            <th>Member ID</th>
                            <th>Member Name</th>
                            <th>Society ID</th>
                            <th>Society Name</th>
                            <th>Closing Balance</th>
                            <th>CR/DR</th>
                            <th style="width: 136px !important;">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% data.forEach(function(item,index){ %>
                        <tr id="<%= index %>">
                            <td>
                                <% if(user_type === 'ADMIN') { %>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="<%= index %>">
                                    <label for="<%= index %>"></label>
                                </span>
                                <% } %>
                            </td>
                            <td><%= item.sub_account_id %></td>
                            <td><%= item.sub_account_name %></td>
                            <td><%= item.account_id %></td>
                            <td><%= item.account_name %></td>
                            <td><%= item.cl_balance %></td>
                            <td><%= item.cl_crdr %></td>
                            <td>
                                <a href="#viewEmployeeModal" class="view" data-toggle="modal""><i class="
                                    material-icons" data-toggle="tooltip" title="View"
                                    onclick="viewentry(<%= index %>)">&#xe8f4;</i></a>
                                <% if(user_type === 'ADMIN' ) { %>
                                <a style="cursor: pointer;" class="edit" onclick="editredirect(<%= index %>)"><i
                                        class="material-icons" title="Edit">&#xE254;</i></a>
                                <a href="#deleteEmployeeModal" class="delete" data-toggle="modal" id="<%= index %>"><i
                                        class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                                <% } %>
                            </td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
                <div class="clearfix">
                    <% var starting = (pagenum-1)*entries_per_page + 1 %>
                    <% var ending = starting + data.length - 1 %>
                    <% if(totalentries>0) { %>
                    <div class="hint-text">Showing entries from <b><%= starting %></b> to <b><%= ending %></b> out of
                        <b><%= totalentries %></b> entries
                    </div>
                    <% } %>
                    <form action="/accountbalance/search" id="paginationform" method="GET">
                        <ul class="pagination">
                            <li class="page-item">
                                <span class="a page-link">
                                    <% if(pagenum <= 1) { %>
                                    <span class="a a-disabled" id="first">
                                        <i class="material-icons">&#xe045;</i>
                                    </span>
                                    <span class="a a-disabled" id="previous">
                                        <i class="material-icons flip-to-left one-change">&#xe037;</i>
                                    </span>
                                    <% } else { %>
                                    <span class="a" id="first" onclick="submitform(1)">
                                        <i class="material-icons">&#xe045;</i>
                                    </span>
                                    <span class="a" id="previous" onclick="submitform('<%= pagenum-1 %>')">
                                        <i class="material-icons flip-to-left one-change">&#xe037;</i>
                                    </span>
                                    <% } %>
                                    <input type="number" name="pagenum" id="pageno" value="<%= pagenum %>"
                                        max="<%= totalpages %>" min="1" style="text-align: center;">
                                    <input type="hidden" name="entries_per_page" value="<%= entries_per_page %>">
                                    / <%= totalpages %>
                                    <% if(pagenum >= totalpages) { %>
                                    <span class="a a-disabled">
                                        <i class="material-icons one-change" id="next">&#xe037;</i>
                                    </span>
                                    <span class="a a-disabled" id="last">
                                        <i class="material-icons">&#xe044;</i>
                                    </span>
                                    <% } else { %>
                                    <span class="a" id="next" onclick="submitform('<%= pagenum+1 %>')">
                                        <i class="material-icons one-change">&#xe037;</i>
                                    </span>
                                    <span class="a" id="last" onclick="submitform('<%= totalpages %>')">
                                        <i class="material-icons">&#xe044;</i>
                                    </span>
                                    <% } %>
                                </span>
                            </li>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <!-- View Modal HTML -->
    <div id="viewEmployeeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="text-align: center;">
                    <h3 class="modal-title"><b><u>View Member</u></b></h3>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 ele">
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td class="label-text">Member</td>
                                            <td><b>:</b></td>
                                            <td id="table_sub_account_id"></td>
                                            <td class="label-text" style="width: 15% !important;">Group</td>
                                            <td><b>:</b></td>
                                            <td id="table_group_id"></td>
                                        </tr>
                                        <tr>
                                            <td class="label-text">Name</td>
                                            <td><b>:</b></td>
                                            <td colspan="4" id="table_sub_account_name"></td>
                                        </tr>
                                        <tr>
                                            <td class="vtop label-text">Address</td>
                                            <td class="vtop"><b>:</b></td>
                                            <td colspan="4" class="multi-lines" align="left"
                                                id="table_sub_account_address"></td>
                                        </tr>
                                        <tr>
                                            <td class="label-text">Organization</td>
                                            <td><b>:</b></td>
                                            <td id="table_organization_id"></td>
                                            <td colspan="3" id="table_organization_name"></td>
                                        </tr>
                                        <tr>
                                            <td class="label-text">Resource Person</td>
                                            <td><b>:</b></td>
                                            <td id="table_resource_person_id"></td>
                                            <td colspan="3" id="table_resource_person_name"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-6 ele">
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td class="label-text">Society</td>
                                            <td><b>:</b></td>
                                            <td colspan="2" id="table_account_id"></td>
                                        </tr>
                                        <tr>
                                            <td class="label-text">Name</td>
                                            <td><b>:</b></td>
                                            <td colspan="2" id="table_account_name"></td>
                                        </tr>
                                        <tr>
                                            <td class="label-text">Village</td>
                                            <td><b>:</b></td>
                                            <td colspan="2" id="table_village_name"></td>
                                        </tr>
                                        <tr>
                                            <td class="label-text">Taluka</td>
                                            <td><b>:</b></td>
                                            <td colspan="2" id="table_taluka_name"></td>
                                        </tr>
                                        <tr>
                                            <td class="label-text">District</td>
                                            <td><b>:</b></td>
                                            <td colspan="2" id="table_district_name"></td>
                                        </tr>
                                        <tr>
                                            <td class="label-text">Issue Date</td>
                                            <td><b>:</b></td>
                                            <td colspan="2" id="table_issue_date"></td>
                                        </tr>
                                        <tr>
                                            <td class="label-text">Cow Cast</td>
                                            <td><b>:</b></td>
                                            <td id="table_cow_cast_id"></td>
                                            <td id="table_cow_cast_name"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6 ele">
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td class="label-text">Op. Balance</td>
                                            <td><b>:</b></td>
                                            <td id="table_op_balance"></td>
                                            <td class="label-text" style="width: 15% !important;">Cr/Dr</td>
                                            <td><b>:</b></td>
                                            <td id="table_op_crdr"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="6"><br></td>
                                        </tr>
                                        <tr>
                                            <td class="label-text">Cr. Amount</td>
                                            <td><b>:</b></td>
                                            <td colspan="4" id="table_cr_amount"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="6"><br></td>
                                        </tr>
                                        <tr>
                                            <td class="label-text">Dr. Amount</td>
                                            <td><b>:</b></td>
                                            <td colspan="4" id="table_dr_amount"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="6"><br></td>
                                        </tr>
                                        <tr>
                                            <td class="label-text">Cl. Balance</td>
                                            <td><b>:</b></td>
                                            <td id="table_cl_balance"></td>
                                            <td colspan="3" id="table_cl_crdr"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-6 ele">
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td class="label-text">Birth Date</td>
                                            <td><b>:</b></td>
                                            <td id="table_birth_date"></td>
                                            <td class="label-text">Birth Weight</td>
                                            <td><b>:</b></td>
                                            <td id="table_birth_wt"></td>
                                        </tr>
                                        <tr>
                                            <td class="label-text">Member Join Date</td>
                                            <td><b>:</b></td>
                                            <td id="table_join_date"></td>
                                            <td class="label-text">Join Weight</td>
                                            <td><b>:</b></td>
                                            <td id="table_join_wt"></td>
                                        </tr>
                                        <tr>
                                            <td class="label-text">Heifer Date</td>
                                            <td><b>:</b></td>
                                            <td colspan="4" id="table_heifer_date"></td>
                                        </tr>
                                        <tr>
                                            <td class="label-text">Calwing Date</td>
                                            <td><b>:</b></td>
                                            <td id="table_calwing_date"></td>
                                            <td class="label-text">Litre</td>
                                            <td><b>:</b></td>
                                            <td id="table_calwing_ltr"></td>
                                        </tr>
                                        <tr>
                                            <td class="label-text">Cancel Date</td>
                                            <td><b>:</b></td>
                                            <td colspan="4" id="table_cancel_date"></td>
                                        </tr>
                                        <tr>
                                            <td class="label-text">Death Date</td>
                                            <td><b>:</b></td>
                                            <td colspan="4" id="table_death_date"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12 ele">
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td style="
                                            width: 15%;
                                            font-style: italic;
                                            font-weight: bold;    
                                            padding: 0px !important;">Insurance Date</td>
                                            <td><b>:</b></td>
                                            <td id="table_insurance_date"></td>
                                            <td class="label-text-down">Next Due On</td>
                                            <td><b>:</b></td>
                                            <td id="table_insurance_due_on_date"></td>
                                            <td class="label-text-down">Tag Number</td>
                                            <td><b>:</b></td>
                                            <td id="table_insurance_tag_no"></td>
                                            <td class="label-text-down">Ammount</td>
                                            <td><b>:</b></td>
                                            <td id="table_insurance_amount"></td>
                                        </tr>
                                        <tr>
                                            <td class="label-text-down vtop">Remark</td>
                                            <td class="vtop"><b>:</b></td>
                                            <td colspan="10" id="table_insurance_remark" class="multi-lines"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% if(user_type === 'ADMIN') { %>
    <!-- Delete Modal HTML -->
    <div id="deleteEmployeeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/accountbalance/delete" method="POST">
                    <div class="modal-header">
                        <h4 class="modal-title">Delete Member</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure ...?<br>Do want to delete these Records ?</p>
                        <p class="text-warning"><small>This action cannot be undone.</small></p>
                    </div>
                    <div class="modal-footer">
                        <div id="hidden-input"></div>
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel" id="cancel">
                        <input type="submit" class="btn btn-danger" value="Delete">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <% } %>
</body>

</html>