<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CPFMS</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css"
        rel="stylesheet" />

    <link rel="stylesheet" href="/css/master-index.css">
    <link rel="stylesheet" href="/css/master/receipt.css">
    <script src="/js/master-index.js"></script>

</head>

<body>
    <%- include('../../partials/navbar.ejs') %>

    <main>
        <div class="container" style="background-color: #DBFFFB; width: 98%">
            <%- include('../../partials/err.ejs') %>
            <h2 class="heading-text">Receipt</h2>
            <form class="form-horizontal" id="main-form" action="/receipt/edit/<%= document_number %>" method="POST">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table info-table">
                            <tbody>
                                <tr>
                                    <td class="label-text">Document Number</td>
                                    <td><b>:</b></td>
                                    <td id="table_document_number">
                                        <input type="number" name="document_number" class="input-disabled"
                                            value="<%= document_number %>" readonly>
                                    </td>
                                    <td></td>
                                    <td class="label-text">Receipt Account</td>
                                    <td><b>:</b></td>
                                    <td id="table_dr_sub_account_id">
                                        <select class="form-control selectpicker" data-live-search="true" data-size="5"
                                            name="dr_sub_account_id" id="dr_sub_account_id" required>
                                            <option>CASH</option>
                                            <option>BANK</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="label-text">Receipt Number</td>
                                    <td><b>:</b></td>
                                    <td id="table_receipt_number">
                                        <input type="text" name="receipt_number" value="<%= receipt.receipt_number %>" required>
                                    </td>
                                    <td></td>
                                    <td class="label-text">Date</td>
                                    <td><b>:</b></td>
                                    <td id="table_receipt_date">
                                        <input type="date" name="receipt_date" value="<%= receipt.receipt_nice_date %>">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="label-text">A/C ID</td>
                                    <td><b>:</b></td>
                                    <td id="table_cr_account_id">
                                        <select class="form-control selectpicker" data-live-search="true" data-size="5"
                                            name="cr_account_id" id="account_id_select" required>
                                            <% for(item of account_head){ %>
                                            <option><%= item.account_id %></option>
                                            <% } %>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" id="account_name_res" name="account_name"
                                            style="width: 100%;" disabled>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="label-text">Narration</td>
                                    <td><b>:</b></td>
                                    <td colspan="2" id="table_narration">
                                        <textarea name="acc_narration" cols="30" rows="4"><%= receipt.narration %></textarea>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="table-responsive">
                        <table class="table receipt-details-table">
                            <colgroup>
                                <col span="1" style="width: 5%">
                                <col span="1" style="width: 10%">
                                <col span="1" style="width: 40%">
                                <col span="1" style="width: 10%">
                                <col span="1" style="width: 20%">
                                <col span="1" style="width: 10%">
                            </colgroup>
                            <thead>
                                <th>SR.</th>
                                <th>Member ID</th>
                                <th>Member Name</th>
                                <th>Amount</th>
                                <th>Narration</th>
                                <th>Actions</th>
                            </thead>
                            <tbody id="entries">
                            </tbody>
                            <tfoot>
                                <tr id="addentryform">
                                    <td></td>
                                    <td id="addentryform_select">
                                        <select class="form-control selectpicker" data-live-search="true" data-size="5"
                                            name="sub_account_id" id="sub_account_id_select" required>
                                        </select>
                                    </td>
                                    <td><input type="text" name="sub_account_name" id="sub_account_name_res" disabled>
                                    </td>
                                    <td><input type="number" step="0.01" name="receipt_amount" class="right-align"></td>
                                    <td><input type="text" name="narration"></td>
                                    <td>
                                        <button id="addentry" type="button" class="btn btn-success">
                                            <i class="material-icons" style="vertical-align: middle;">&#xe147;</i>
                                        </button>
                                    </td>
                                </tr>
                                <tr style="background-color: gray;">
                                    <td></td>
                                    <td></td>
                                    <td><b>Total</b></td>
                                    <td id="totalentry" class="right-align"></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <!-- 
                    <div style="margin: 10px; padding: 0px 15px 0px 0px;height: 50px; text-align: left; float: left;">
                        <button class="btn btn-lg btn-primary" type="button" id="saveentry"><b>Save</b></button>
                        <button class="btn btn-lg btn-success" type="button" id="restoreentry"><b>Restore Last Saved
                                Data</b></button>
                        <button class="btn btn-lg btn-danger" type="button" id="removedata"><b>Remove Saved
                                Data</b></button>
                    </div>
                 -->
                <div style="margin: 10px; padding: 0px 15px 0px 0px;height: 50px; text-align: right; float: right;">
                    <button class="btn btn-lg btn-warning" type="button" id="clearentry"><b>Clear All</b></button>
                    <button class="btn btn-lg btn-success" type="submit"><b>Submit</b></button>
                    <a href="/receipt"><button class="btn btn-lg btn-danger" type="button"><b>Cancel</b></button></a>
                </div>
            </form>
        </div>
    </main>

    <script>
        var entries = <%- JSON.stringify(receipt_details) %>;
        var current_options = [];
        var lastindex = <%= receipt_details.length %>;
        var total_gb = parseFloat(<%= receipt.total_amount %>);
        var accid = '';
        var eflag = false;

        function fillallentries() {
            if (entries.length === 0) {
                total_gb = 0.00;
                $("#entries").empty();
                $("#totalentry").empty();
            }
            else {
                total = 0.00;
                var counter = 0;
                $("#entries").empty();
                for (i = 0; i < entries.length; i++) {
                    entryob = entries[i];
                    counter++;
                    var inhtml = `
                        <tr id=`+ counter + `>
                            <td>`+ counter + `</td>
                            <td>`+ entryob.sub_account_id + `</td>
                            <td class="left-align">`+ entryob.sub_account_name + `</td>
                            <td class="right-align">&#8377; `+ parseFloat(entryob.receipt_amount).toLocaleString('en-IN') + `</td>
                            <td>`+ entryob.narration + `</td>
                            <td id="actions">
                                <span style="cursor: pointer; color: yellow;" onclick="editentry(`+ counter + `)"><i
                                        class="material-icons">&#xE254;</i></span>
                                <span style="cursor: pointer; color: red;" onclick="deleteentry(`+ counter + `)"><i
                                        class="material-icons">&#xE872;</i></span>
                            </td>
                            <input type="hidden" name="sub_account_ids[${i}]" value="${entryob.sub_account_id}">
                            <input type="hidden" name="receipt_amounts[${i}]" value="${entryob.receipt_amount}">
                            <input type="hidden" name="narrations[${i}]" value="${entryob.narration}">
                        </tr>
                    `;
                    total = total + parseFloat(entryob.receipt_amount);
                    $("#entries").append(inhtml);
                }
                $("#totalentry").html("&#8377; " + total.toLocaleString('en-IN'));
                total_gb = total;
            }
        }

        function editentry(entryindex) {
            if (eflag)
                return false;
            eflag = true;

            // Identify Row
            var edit_entry = entries[entryindex - 1];
            var row = $("#entries #" + entryindex);

            // Option Change
            var option_col_val = edit_entry["sub_account_id"], options = "";
            for (item of current_options) {
                options = options + `<option>${item}</option>`;
            }
            var inhtml = `
        <select class="form-control selectpicker" data-live-search="true" data-dropup-auto="false" data-size="5" name="sub_account_id_copy" id="sub_account_id_select_copy" onchange="sub_optionchange(true)" required>
        `+ options + `
        </select>
    `;
            row.children("td:eq(1)").html(inhtml);
            $("#sub_account_id_select_copy").selectpicker('refresh');
            $("#sub_account_id_select_copy").selectpicker('val', option_col_val);
            $("#sub_account_id_select_copy").selectpicker('toggle');

            // Sub Account Name Change
            var sub_name_col_val = edit_entry["sub_account_name"];
            inhtml = `<input type="text" name="sub_account_name_copy" id="sub_account_name_res_copy" value="${sub_name_col_val}" disabled>`;
            row.children("td:eq(2)").html(inhtml);

            // Amount Change
            var amount_col_val = edit_entry["receipt_amount"];
            inhtml = `<input type="number" step="0.01" id="receipt_amount_copy" name="receipt_amount_copy" value="${amount_col_val}" class="right-align"></input>`;
            row.children("td:eq(3)").html(inhtml);

            // Narration Change
            inhtml = `<input type="text" name="narration_copy" id="narration_copy" value="${edit_entry["narration"]}"></input>`;
            row.children("td:eq(4)").html(inhtml);

            // Action Chnage
            inhtml = `
        <span style="cursor: pointer; color: green;" onclick="submit_editentry(${entryindex})">
            <i class="material-icons" style="transform: scale(2);" >&#xe834;</i>
        </span>
    `;
            row.children("td:eq(5)").html(inhtml);
        }

        function submit_editentry(entryindex) {
            var entryob = {
                sub_account_id: $("#sub_account_id_select_copy").selectpicker('val'),
                sub_account_name: $("#sub_account_name_res_copy").val(),
                receipt_amount: $("#receipt_amount_copy").val(),
                narration: $("#narration_copy").val()
            }
            var row = $("#entries #" + entryindex);
            row.empty();
            var inhtml = `
        <td>`+ entryindex + `</td>
        <td>`+ entryob.sub_account_id + `</td>
        <td class="left-align">`+ entryob.sub_account_name + `</td>
        <td class="right-align">&#8377; `+ parseFloat(entryob.receipt_amount).toLocaleString('en-IN') + `</td>
        <td>`+ entryob.narration + `</td>
        <td id="actions">
            <span style="cursor: pointer; color: yellow;" onclick="editentry(`+ entryindex + `)"><i
                    class="material-icons">&#xE254;</i></span>
            <span style="cursor: pointer; color: red;" onclick="deleteentry(`+ entryindex + `)"><i
                    class="material-icons">&#xE872;</i></span>
        </td>
        <input type="hidden" name="sub_account_ids[${entryindex - 1}]" value="${entryob.sub_account_id}">
        <input type="hidden" name="receipt_amounts[${entryindex - 1}]" value="${entryob.receipt_amount}">
        <input type="hidden" name="narrations[${entryindex - 1}]" value="${entryob.narration}">
    `;
            row.html(inhtml);
            total_gb = total_gb - parseFloat(entries[entryindex - 1]["receipt_amount"]) + parseFloat(entryob["receipt_amount"]);
            entries[entryindex - 1] = entryob;
            $("#totalentry").html("&#8377; " + total_gb.toLocaleString('en-IN'));
            eflag = false;
        }

        function deleteentry(entryindex) {
            var flag = confirm('Do you want to delete this entry ?');
            if (flag == true) {
                lastindex--;
                entries.splice(entryindex - 1, 1);
                fillallentries();
            }
            else
                return false;
        }

        function optionchange() {
            $.ajax({
                url: '/api/transaction/account_details/' + $("#account_id_select").children("option:selected").val(),
                success: function (res) {
                    if (res.status === true) {
                        $("#account_name_res").val(res.account_name);
                        var select_ele = $("#sub_account_id_select"), options = "";
                        select_ele.empty();
                        select_ele.selectpicker('refresh');
                        current_options = [];
                        for (sid of res.sub_account_id) {
                            current_options.push(sid.sub_account_id);
                            options = options + "<option>" + sid.sub_account_id + "</option>";
                        }
                        $(select_ele).append(options);
                        $(select_ele).selectpicker('refresh');
                        sub_optionchange();
                    }
                    else {
                        current_options = [];
                        $("#sub_account_id_select").empty();
                        $("#sub_account_id_select").selectpicker('refresh');
                        $("#account_name_res").val("--------NO NAME FOUND--------");
                        $("#sub_account_name_res").val("--------NO NAME FOUND--------");
                    }
                }
            });
        }

        function sub_optionchange(flag) {
            var ajax_url_id = "#sub_account_id_select";
            var ajax_name_id = "#sub_account_name_res";
            if (flag == true) {
                ajax_url_id = "#sub_account_id_select_copy";
                ajax_name_id = "#sub_account_name_res_copy";
            }
            if ($(ajax_url_id).children("option").length > 0) {
                $.ajax({
                    url: '/api/transaction/membername/' + $(ajax_url_id).children("option:selected").val(),
                    success: function (res) {
                        if (res.status === true)
                            $(ajax_name_id).val(res.data.sub_account_name);
                        else
                            $(ajax_name_id).val("--------NO NAME FOUND--------");
                    }
                });
            }
            else {
                $(ajax_name_id).val("--------NO NAME FOUND--------");
            }
        }

        /*
        function fillmainparameters() {
        }
        
        function savemainparameters() {
        }
        
        function restoremainparameters() {
        }
        */

        $(document).ready(function () {

            $("#account_id_select").selectpicker('val','<%= receipt.cr_account_id %>');
            $("#dr_sub_account_id").selectpicker('val','<%= receipt.dr_sub_account_id %>');
            $("#table_receipt_number input[name=receipt_number]").focus();

            fillallentries();

            /*
            if (localStorage.getItem('savedEntries')) {
                entries = JSON.parse(localStorage.getItem('savedEntries'));
                fillallentries();
            }
            */

            optionchange();

            /*
            $("#saveentry").click(function (e) {
                e.preventDefault();
                if (entries.length != 0)
                    localStorage.setItem('savedEntries', JSON.stringify(entries));
                alert('Data saved locally !');
            });
        
            $("#restoreentry").click(function (e) {
                e.preventDefault();
                entries = JSON.parse(localStorage.getItem('savedEntries'));
                fillallentries();
            });
        
            $("#removedata").click(function (e) {
                localStorage.removeItem('savedEntries');
            });
            */

            $("#clearentry").click(function (e) {
                entries = [];
                lastindex = 0;
                fillallentries();
            });

            $("#account_id_select").on("change", function () {
                if ($("#entries").children("tr").length > 0) {
                    var flag = confirm("Do you want to change Society ID ?\n All the entries listed below will be deleted..");
                    if (flag == true) {
                        accid = $(this).val();
                        $("#entries").empty();
                        $("#totalentry").empty();
                        total_gb = 0.00;
                        optionchange();
                    }
                    else {
                        $(this).selectpicker('val', accid);
                    }
                }
                else {
                    accid = $(this).val();
                    optionchange();
                }
            });

            $("#sub_account_id_select").change(function () {
                sub_optionchange();
            });

            $("#addentry").click(function () {
                var sub_account_id = $("#addentryform select[name=sub_account_id]");
                var sub_account_name = $("#addentryform input[name=sub_account_name]");
                var receipt_amount = $("#addentryform input[name=receipt_amount]");
                var narration = $("#addentryform input[name=narration]");
                if (!sub_account_id.children("option:selected").val() || !receipt_amount.val() || receipt_amount.val() <= 0)
                    return false;
                var entryob = {
                    sub_account_id: sub_account_id.children("option:selected").val(),
                    sub_account_name: sub_account_name.val(),
                    receipt_amount: receipt_amount.val(),
                    narration: narration.val()
                }
                entries.push(entryob);
                lastindex++;
                var inhtml = `
                    <tr id=`+ lastindex + `>
                        <td>`+ lastindex + `</td>
                        <td>`+ entryob.sub_account_id + `</td>
                        <td class="left-align">`+ entryob.sub_account_name + `</td>
                        <td class="right-align">&#8377; `+ parseFloat(entryob.receipt_amount).toLocaleString('en-IN') + `</td>
                        <td>`+ entryob.narration + `</td>
                        <td id="actions">
                            <span style="cursor: pointer; color: yellow;" onclick="editentry(`+ lastindex + `)"><i
                                    class="material-icons">&#xE254;</i></span>
                            <span style="cursor: pointer; color: red;" onclick="deleteentry(`+ lastindex + `)"><i
                                    class="material-icons">&#xE872;</i></span>
                        </td>
                        <input type="hidden" name="sub_account_ids[${lastindex - 1}]" value="${entryob.sub_account_id}">
                        <input type="hidden" name="receipt_amounts[${lastindex - 1}]" value="${entryob.receipt_amount}">
                        <input type="hidden" name="narrations[${lastindex - 1}]" value="${entryob.narration}">
                    </tr>
                `;
                total_gb = total_gb + parseFloat(entryob.receipt_amount);
                $("#totalentry").html("&#8377; " + total_gb.toLocaleString('en-IN'));
                $("#addentryform select[name=sub_account_id] option:first").attr('selected', true).change();
                sub_account_name.val('');
                receipt_amount.val('');
                narration.val('');
                $("#entries").append(inhtml);
                $("#sub_account_id_select").selectpicker('toggle');
            });

            $("#table_receipt_number input[name=receipt_number]").on('input', function () {
                var txt = "Receipt No.: " + $(this).val();
                $("#table_narration textarea[name=acc_narration]").val(txt);
            });

            $("#main-form").submit(function (e) {
                if ($("#entries td").length <= 0) {
                    e.preventDefault();
                    alert('Enter atleast one entry before submitting the form!');
                }
            });

        });
    
    </script>

</body>

</html>