<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CPFMS</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css"
        rel="stylesheet" />

    <link rel="stylesheet" href="/css/master-index.css">
    <link rel="stylesheet" href="/css/master/receipt.css">
    <script src="/js/master-index.js"></script>

</head>

<body>
    <%- include('../../partials/navbar.ejs') %>

    <main>
        <div class="container" style="background-color: #DBFFFB; width: 98%">
            <%- include('../../partials/err.ejs') %>
            <h2 class="heading-text">Voucher</h2>
            <form class="form-horizontal" id="main-form" action="/payment/edit/<%= document_number %>" method="POST">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table info-table">
                            <tbody>
                                <tr>
                                    <td class="label-text">Document Number</td>
                                    <td><b>:</b></td>
                                    <td id="table_document_number">
                                        <input type="number" name="document_number" class="input-disabled"
                                            value="<%= document_number %>" readonly>
                                    </td>
                                    <td></td>
                                    <td class="label-text">Voucher Account</td>
                                    <td><b>:</b></td>
                                    <td id="table_cr_sub_account_id">
                                        <select class="form-control selectpicker" data-live-search="true" data-size="5"
                                            name="cr_sub_account_id" id="cr_sub_account_id" required>
                                            <option>CASH</option>
                                            <option selected>BANK</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="label-text">A/C ID</td>
                                    <td><b>:</b></td>
                                    <td id="table_dr_account_id">
                                        <select class="form-control selectpicker" data-live-search="true" data-size="5"
                                            name="dr_account_id" id="account_id_select" required>
                                            <% for(item of account_head){ %>
                                            <option><%= item.account_id %></option>
                                            <% } %>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" id="account_name_res" name="account_name"
                                            style="width: 100%;" disabled>
                                    </td>
                                    <td class="label-text">Voucher Date</td>
                                    <td><b>:</b></td>
                                    <td id="table_voucher_date">
                                        <input type="date" name="voucher_date" value="<%= payment.payment_nice_date %>">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="label-text">Cheque Number</td>
                                    <td><b>:</b></td>
                                    <td id="table_cheque_no">
                                        <input type="text" name="cheque_no" value="<%= payment.cheque_no %>" required>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="label-text">Narration</td>
                                    <td><b>:</b></td>
                                    <td colspan="2" id="table_narration">
                                        <textarea name="acc_narration" cols="30" rows="4"><%= payment.narration %></textarea>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="table-responsive">
                        <table class="table receipt-details-table">
                            <colgroup>
                                <col style="width: 5%;">
                                <col style="width: 9%;">
                                <col style="width: 9%;">
                                <col style="width: 9%;">
                                <col style="width: 9%;">
                                <col style="width: 9%;">
                                <col style="width: 9%;">
                                <col style="width: 9%;">
                                <col style="width: 17%;">
                                <col style="width: 10%;">
                                <col style="width: 5%;">
                            </colgroup>
                            <thead>
                                <th>SR.</th>
                                <th>Member</th>
                                <th>Cattle Feed</th>
                                <th>Mineral Mix</th>
                                <th>Pasu Posak</th>
                                <th>Insurance</th>
                                <th>Other</th>
                                <th>Other1</th>
                                <th>Amount</th>
                                <th>Narration</th>
                                <th>Actions</th>
                            </thead>
                            <tbody id="entries">
                            </tbody>
                            <tfoot>
                                <tr id="addentryform_first">
                                    <td></td>
                                    <td id="addentryform_select">
                                        <select class="form-control selectpicker" data-live-search="true" data-size="5"
                                            name="sub_account_id" id="sub_account_id_select" required>
                                        </select>
                                    </td>
                                    <td colspan="6">
                                        <input type="text" name="sub_account_name" id="sub_account_name_res" style="text-align: center;" disabled>
                                    </td>
                                    <td></td>
                                    <td rowspan="2"><textarea name="narration" cols="20" rows="4"></textarea></td>
                                    <td></td>
                                </tr>
                                <tr id="addentryform">
                                    <td></td>
                                    <td></td>
                                    <td><input type="number" min="0" step="0.01" name="cattle_feed" id="cattle_feed" class="right-align" value="0"></td>
                                    <td><input type="number" min="0" step="0.01" name="mineral_mix" id="mineral_mix" class="right-align" value="0"></td>
                                    <td><input type="number" min="0" step="0.01" name="pasu_posak" id="pasu_posak" class="right-align" value="0"></td>
                                    <td><input type="number" min="0" step="0.01" name="insurance" id="insurance" class="right-align" value="0"></td>
                                    <td><input type="number" min="0" step="0.01" name="other" id="other" class="right-align" value="0"></td>
                                    <td><input type="number" min="0" step="0.01" name="other1" id="other1" class="right-align" value="0"></td>
                                    <td id="entry_total"></td>
                                    <td>
                                        <button id="addentry" type="button" class="btn btn-success">
                                            <i class="material-icons" style="vertical-align: middle;">&#xe147;</i>
                                        </button>
                                    </td>
                                </tr>
                                <tr style="background-color: gray;">
                                    <td></td>
                                    <td></td>
                                    <td colspan="6" style="text-align: center;"><b>Total</b></td>
                                    <td id="totalentry" class="right-align"></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <!-- 
                    <div style="margin: 10px; padding: 0px 15px 0px 0px;height: 50px; text-align: left; float: left;">
                        <button class="btn btn-lg btn-primary" type="button" id="saveentry"><b>Save</b></button>
                        <button class="btn btn-lg btn-success" type="button" id="restoreentry"><b>Restore Last Saved
                                Data</b></button>
                        <button class="btn btn-lg btn-danger" type="button" id="removedata"><b>Remove Saved
                                Data</b></button>
                    </div>
                 -->
                 <div style="margin: 10px; padding: 0px 15px 0px 0px;height: 50px; text-align: right; float: right;">
                    <button class="btn btn-lg btn-warning" type="button" id="clearentry"><b>Clear All</b></button>
                    <button class="btn btn-lg btn-success" type="submit"><b>Submit</b></button>
                    <a href="/payment"><button class="btn btn-lg btn-danger"
                            type="button"><b>Cancel</b></button></a>
                </div>
            </form>
        </div>
    </main>

    <script>
        var entries = <%- JSON.stringify(payment_details) %>;;
        var current_options = [];

        var lastindex = <%= payment_details.length %>;
        var total_gb = parseFloat(<%= payment.total_amount %>);
        var accid = '';
        var eflag = false;

        function fillallentries() {
            if (entries.length === 0) {
                total_gb = 0.00;
                $("#entries").empty();
                $("#totalentry").empty();
            }
            else {
                total = 0.00;
                var counter = 0;
                $("#entries").empty();
                for (i = 0; i < entries.length; i++) {
                    entryob = entries[i];
                    counter++;
                    scounter = counter.toString();
                    var inhtml = `
                        <tr id="${scounter+"_first"}">
                            <td>${scounter}</td>
                            <td>${entryob.sub_account_id}</td>
                            <td colspan="6">${entryob.sub_account_name}</td>
                            <td></td>
                            <td rowspan="2">${entryob.narration}</td>
                            <td id="actions">
                                <span style="cursor: pointer; color: yellow;" onclick="editentry(${counter})"><i
                                        class="material-icons">&#xE254;</i></span>
                                <span style="cursor: pointer; color: red;" onclick="deleteentry(${counter})"><i
                                        class="material-icons">&#xE872;</i></span>
                            </td>
                        </tr>
                        <tr id="${scounter}">
                            <td></td>
                            <td></td>
                            <td>&#8377; ${parseFloat(entryob.cattle_feed).toLocaleString('en-IN')}</td>
                            <td>&#8377; ${parseFloat(entryob.mineral_mix).toLocaleString('en-IN')}</td>
                            <td>&#8377; ${parseFloat(entryob.pasu_posak).toLocaleString('en-IN')}</td>
                            <td>&#8377; ${parseFloat(entryob.insurance).toLocaleString('en-IN')}</td>
                            <td>&#8377; ${parseFloat(entryob.other).toLocaleString('en-IN')}</td>
                            <td>&#8377; ${parseFloat(entryob.other1).toLocaleString('en-IN')}</td>
                            <td class="right-align">&#8377; ${parseFloat(entryob.sub_total).toLocaleString('en-IN')}</td>
                            <td></td>
                            <input type="hidden" name="sub_account_ids[${i}]" value="${entryob.sub_account_id}">
                            <input type="hidden" name="narrations[${i}]" value="${entryob.narration}">
                            <input type="hidden" name="cattle_feeds[${i}]" value="${entryob.cattle_feed}">
                            <input type="hidden" name="mineral_mixs[${i}]" value="${entryob.mineral_mix}">
                            <input type="hidden" name="pasu_posaks[${i}]" value="${entryob.pasu_posak}">
                            <input type="hidden" name="insurances[${i}]" value="${entryob.insurance}">
                            <input type="hidden" name="others[${i}]" value="${entryob.other}">
                            <input type="hidden" name="other1s[${i}]" value="${entryob.other1}">
                        </tr>
                    `;
                    total = total + parseFloat(entryob.sub_total);
                    $("#entries").append(inhtml);
                }
                $("#totalentry").html("&#8377; " + total.toLocaleString('en-IN'));
                total_gb = total;
            }
        }

        function editentry(entryindex_1) {
            if (eflag)
                return false;
            eflag = true;

            entryindex = parseInt(entryindex_1);

            // Identify Row
            var edit_entry = entries[entryindex - 1];
            
            var row_first = $("#entries #" + entryindex + "_first");
            var row = $("#entries #" + entryindex);

            // Option Change
            var option_col_val = edit_entry["sub_account_id"], options = "";
            
            for (item of current_options) {
                options = options + `<option>${item}</option>`;
            }
            
            var sub_name_col_val = edit_entry["sub_account_name"];
            
            var inhtml1 = `
                <td>${entryindex}</td>
                <td>
                    <select class="form-control selectpicker" data-live-search="true" data-dropup-auto="false" data-size="5" name="sub_account_id_copy" id="sub_account_id_select_copy" onchange="sub_optionchange(true)" required>
                        ${options}
                    </select>
                </td>
                <td colspan="6">
                    <input type="text" name="sub_account_name_copy" id="sub_account_name_res_copy" style="text-align: center;" value="${sub_name_col_val}" disabled>
                </td>
                <td></td>
                <td rowspan="2"><textarea name="narration" id="narration_copy" cols="20" rows="4">${edit_entry.narration}</textarea></td>
                <td id="actions">
                </td>
            `;

            // Values Change
            inhtml2 = `
                <td></td>
                <td></td>
                <td><input type="number" min="0" step="0.01" name="cattle_feed_copy" id="cattle_feed_copy" class="right-align" value="${parseFloat(edit_entry.cattle_feed).toLocaleString('en-IN')}"></td>
                <td><input type="number" min="0" step="0.01" name="mineral_mix_copy" id="mineral_mix_copy" class="right-align" value="${parseFloat(edit_entry.mineral_mix).toLocaleString('en-IN')}"></td>
                <td><input type="number" min="0" step="0.01" name="pasu_posak_copy" id="pasu_posak_copy" class="right-align" value="${parseFloat(edit_entry.pasu_posak).toLocaleString('en-IN')}"></td>
                <td><input type="number" min="0" step="0.01" name="insurance_copy" id="insurance_copy" class="right-align" value="${parseFloat(edit_entry.insurance).toLocaleString('en-IN')}"></td>
                <td><input type="number" min="0" step="0.01" name="other_copy" id="other_copy" class="right-align" value="${parseFloat(edit_entry.other).toLocaleString('en-IN')}"></td>
                <td><input type="number" min="0" step="0.01" name="other1_copy" id="other1_copy" class="right-align" value="${parseFloat(edit_entry.other1).toLocaleString('en-IN')}"></td>
                <td id="entry_total_copy"></td>
                <td>
                    <span style="cursor: pointer; color: green;" onclick="submit_editentry(${entryindex})">
                        <i class="material-icons" style="transform: scale(2);" >&#xe834;</i>
                    </span>
                </td>
            `;

            row_first.empty();
            row.empty();

            row_first.html(inhtml1)
            row.html(inhtml2);

            $("#sub_account_id_select_copy").selectpicker('refresh');
            $("#sub_account_id_select_copy").selectpicker('val', option_col_val);
            $("#sub_account_id_select_copy").selectpicker('toggle');

        }

        function submit_editentry(entryindex) {
            var row_first = $("#entries #" + entryindex + "_first");
            var row = $("#entries #" + entryindex);
            var entryob = {
                sub_account_id: $("#sub_account_id_select_copy").selectpicker('val'),
                sub_account_name: $("#sub_account_name_res_copy").val(),
                cattle_feed: $("#cattle_feed_copy").val(),
                mineral_mix: $("#mineral_mix_copy").val(),
                pasu_posak: $("#pasu_posak_copy").val(),
                insurance: $("#insurance_copy").val(),
                other: $("#other_copy").val(),
                other1: $("#other1_copy").val(),
                narration: $("#narration_copy").val()
            }
            if(entryob.cattle_feed < 0 || entryob.mineral_mix < 0 || entryob.pasu_posak < 0 || entryob.insurance < 0 || entryob.other < 0 || entryob.other1 < 0)
                return false;
            sub_total = parseFloat(entryob.cattle_feed) + parseFloat(entryob.mineral_mix) + parseFloat(entryob.pasu_posak) + parseFloat(entryob.insurance) + parseFloat(entryob.other) + parseFloat(entryob.other1);
            entryob.sub_total = sub_total;

            row_first.empty();
            row.empty();
            
            var inhtml1 = `
                <td>${entryindex}</td>
                <td>${entryob.sub_account_id}</td>
                <td colspan="6">${entryob.sub_account_name}</td>
                <td></td>
                <td rowspan="2">${entryob.narration}</td>
                <td id="actions">
                    <span style="cursor: pointer; color: yellow;" onclick="editentry(${entryindex})"><i
                            class="material-icons">&#xE254;</i></span>
                    <span style="cursor: pointer; color: red;" onclick="deleteentry(${entryindex})"><i
                            class="material-icons">&#xE872;</i></span>
                </td>
            `;
            var inhtml2 = `
                <td></td>
                <td></td>
                <td>&#8377; ${parseFloat(entryob.cattle_feed).toLocaleString('en-IN')}</td>
                <td>&#8377; ${parseFloat(entryob.mineral_mix).toLocaleString('en-IN')}</td>
                <td>&#8377; ${parseFloat(entryob.pasu_posak).toLocaleString('en-IN')}</td>
                <td>&#8377; ${parseFloat(entryob.insurance).toLocaleString('en-IN')}</td>
                <td>&#8377; ${parseFloat(entryob.other).toLocaleString('en-IN')}</td>
                <td>&#8377; ${parseFloat(entryob.other1).toLocaleString('en-IN')}</td>
                <td class="right-align">&#8377; ${parseFloat(entryob.sub_total).toLocaleString('en-IN')}</td>
                <td></td>
                <input type="hidden" name="sub_account_ids[${entryindex - 1}]" value="${entryob.sub_account_id}">
                <input type="hidden" name="narrations[${entryindex - 1}]" value="${entryob.narration}">
                <input type="hidden" name="cattle_feeds[${entryindex - 1}]" value="${entryob.cattle_feed}">
                <input type="hidden" name="mineral_mixs[${entryindex - 1}]" value="${entryob.mineral_mix}">
                <input type="hidden" name="pasu_posaks[${entryindex - 1}]" value="${entryob.pasu_posak}">
                <input type="hidden" name="insurances[${entryindex - 1}]" value="${entryob.insurance}">
                <input type="hidden" name="others[${entryindex - 1}]" value="${entryob.other}">
                <input type="hidden" name="other1s[${entryindex - 1}]" value="${entryob.other1}">
            `;

            row_first.html(inhtml1);
            row.html(inhtml2);

            total_gb = total_gb - parseFloat(entries[entryindex - 1]["sub_total"]) + parseFloat(entryob["sub_total"]);
            entries[entryindex - 1] = entryob;
            $("#totalentry").html("&#8377; " + total_gb.toLocaleString('en-IN'));
            eflag = false;
        }

        function deleteentry(entryindex) {
            var flag = confirm('Do you want to delete this entry ?');
            if (flag == true) {
                lastindex--;
                entries.splice(entryindex - 1, 1);
                fillallentries();
            }
            else
                return false;
        }

        function optionchange() {
            $.ajax({
                url: '/api/transaction/account_details/' + $("#account_id_select").children("option:selected").val(),
                success: function (res) {
                    if (res.status === true) {
                        $("#account_name_res").val(res.account_name);
                        var select_ele = $("#sub_account_id_select"), options = "";
                        select_ele.empty();
                        select_ele.selectpicker('refresh');
                        current_options = [];
                        for (sid of res.sub_account_id) {
                            current_options.push(sid.sub_account_id);
                            options = options + "<option>" + sid.sub_account_id + "</option>";
                        }
                        $(select_ele).append(options);
                        $(select_ele).selectpicker('refresh');
                        sub_optionchange();
                    }
                    else {
                        current_options = [];
                        $("#sub_account_id_select").empty();
                        $("#sub_account_id_select").selectpicker('refresh');
                        $("#account_name_res").val("--------NO NAME FOUND--------");
                        $("#sub_account_name_res").val("--------NO NAME FOUND--------");
                    }
                }
            });
        }

        function sub_optionchange(flag) {
            var ajax_url_id = "#sub_account_id_select";
            var ajax_name_id = "#sub_account_name_res";
            if (flag == true) {
                ajax_url_id = "#sub_account_id_select_copy";
                ajax_name_id = "#sub_account_name_res_copy";
            }
            if ($(ajax_url_id).children("option").length > 0) {
                $.ajax({
                    url: '/api/transaction/membername/' + $(ajax_url_id).children("option:selected").val(),
                    success: function (res) {
                        if (res.status === true)
                            $(ajax_name_id).val(res.data.sub_account_name);
                        else
                            $(ajax_name_id).val("--------NO NAME FOUND--------");
                    }
                });
            }
            else {
                $(ajax_name_id).val("--------NO NAME FOUND--------");
            }
        }

        /*
        function fillmainparameters() {
        }

        function savemainparameters() {
        }

        function restoremainparameters() {
        }
        */

        $(document).ready(function () {

            $("#cr_sub_account_id").selectpicker('val','<%= payment.cr_sub_account_id %>');
            $("#account_id_select").selectpicker('val','<%= payment.dr_account_id %>');

            $("#account_id_select").selectpicker('toggle');

            /*
            if (localStorage.getItem('savedEntries')) {
                entries = JSON.parse(localStorage.getItem('savedEntries'));
                fillallentries();
            }
            */

            fillallentries();

            optionchange();

            /*
            $("#saveentry").click(function (e) {
                e.preventDefault();
                if (entries.length != 0)
                    localStorage.setItem('savedEntries', JSON.stringify(entries));
                alert('Data saved locally !');
            });

            $("#restoreentry").click(function (e) {
                e.preventDefault();
                entries = JSON.parse(localStorage.getItem('savedEntries'));
                fillallentries();
            });

            $("#removedata").click(function (e) {
                localStorage.removeItem('savedEntries');
            });
            */

            $("#clearentry").click(function (e) {
                entries = [];
                lastindex = 0;
                fillallentries();
            });

            $("#account_id_select").on("change", function () {
                if ($("#entries").children("tr").length > 0) {
                    var flag = confirm("Do you want to change Society ID ?\n All the entries listed below will be deleted..");
                    if (flag == true) {
                        accid = $(this).val();
                        $("#entries").empty();
                        $("#totalentry").empty();
                        entries = []
                        total_gb = 0.00;
                        optionchange();
                    }
                    else {
                        $(this).selectpicker('val', accid);
                    }
                }
                else {
                    accid = $(this).val();
                    optionchange();
                }
            });

            $("#sub_account_id_select").change(function () {
                sub_optionchange();
            });

            $("#addentry").click(function () {
                var sub_account_id = $("#addentryform_first select[name=sub_account_id]");
                var sub_account_name = $("#addentryform_first input[name=sub_account_name]");
                var cattle_feed = $("#addentryform #cattle_feed");
                var mineral_mix = $("#addentryform #mineral_mix");
                var pasu_posak = $("#addentryform #pasu_posak");
                var insurance = $("#addentryform #insurance");
                var other = $("#addentryform #other");
                var other1 = $("#addentryform #other1");
                var sub_total = parseInt(cattle_feed.val()) + parseInt(mineral_mix.val()) + parseInt(pasu_posak.val()) + parseInt(insurance.val()) + parseInt(other.val()) + parseInt(other1.val());
                var narration = $("#addentryform_first textarea[name=narration]");
                if(cattle_feed.val() < 0 || mineral_mix.val() < 0 || pasu_posak.val() < 0 || insurance.val() < 0 || other.val() < 0 || other1.val() < 0)
                    return false;
                if (!sub_account_id.children("option:selected").val())
                    return false;
                var entryob = {
                    sub_account_id: sub_account_id.children("option:selected").val(),
                    sub_account_name: sub_account_name.val(),
                    cattle_feed: cattle_feed.val(),
                    mineral_mix: mineral_mix.val(),
                    pasu_posak: pasu_posak.val(),
                    insurance: insurance.val(),
                    other: other.val(),
                    other1: other1.val(),
                    narration: narration.val(),
                    sub_total: sub_total
                }
                entries.push(entryob);
                lastindex++;
                var inhtml = `
                    <tr id="${lastindex+"_first"}">
                        <td>${lastindex}</td>
                        <td>${entryob.sub_account_id}</td>
                        <td colspan="6">${entryob.sub_account_name}</td>
                        <td></td>
                        <td rowspan="2">${entryob.narration}</td>
                        <td id="actions">
                            <span style="cursor: pointer; color: yellow;" onclick="editentry(${lastindex})"><i
                                    class="material-icons">&#xE254;</i></span>
                            <span style="cursor: pointer; color: red;" onclick="deleteentry(${lastindex})"><i
                                    class="material-icons">&#xE872;</i></span>
                        </td>
                    </tr>
                    <tr id="${lastindex}">
                        <td></td>
                        <td></td>
                        <td>&#8377; ${parseFloat(entryob.cattle_feed).toLocaleString('en-IN')}</td>
                        <td>&#8377; ${parseFloat(entryob.mineral_mix).toLocaleString('en-IN')}</td>
                        <td>&#8377; ${parseFloat(entryob.pasu_posak).toLocaleString('en-IN')}</td>
                        <td>&#8377; ${parseFloat(entryob.insurance).toLocaleString('en-IN')}</td>
                        <td>&#8377; ${parseFloat(entryob.other).toLocaleString('en-IN')}</td>
                        <td>&#8377; ${parseFloat(entryob.other1).toLocaleString('en-IN')}</td>
                        <td class="right-align">&#8377; ${parseFloat(entryob.sub_total).toLocaleString('en-IN')}</td>
                        <td></td>
                        <input type="hidden" name="sub_account_ids[${lastindex - 1}]" value="${entryob.sub_account_id}">
                        <input type="hidden" name="narrations[${lastindex - 1}]" value="${entryob.narration}">
                        <input type="hidden" name="cattle_feeds[${lastindex - 1}]" value="${entryob.cattle_feed}">
                        <input type="hidden" name="mineral_mixs[${lastindex - 1}]" value="${entryob.mineral_mix}">
                        <input type="hidden" name="pasu_posaks[${lastindex - 1}]" value="${entryob.pasu_posak}">
                        <input type="hidden" name="insurances[${lastindex - 1}]" value="${entryob.insurance}">
                        <input type="hidden" name="others[${lastindex - 1}]" value="${entryob.other}">
                        <input type="hidden" name="other1s[${lastindex - 1}]" value="${entryob.other1}">
                    </tr>
                `;
                total_gb = total_gb + parseFloat(entryob.sub_total);
                $("#totalentry").html("&#8377; " + total_gb.toLocaleString('en-IN'));
                $("#addentryform_first select[name=sub_account_id] option:first").attr('selected', true).change();
                cattle_feed.val('0');
                mineral_mix.val('0');
                pasu_posak.val('0');
                insurance.val('0');
                other.val('0');
                other1.val('0');
                narration.val('');
                $("#entries").append(inhtml);
                $("#sub_account_id_select").selectpicker('toggle');
            });

            $("#table_cheque_no input[name=cheque_no]").on('input', function () {
                var txt = "# Cheque No.: " + $(this).val();
                $("#table_narration textarea[name=acc_narration]").val(txt);
            });

            $("#main-form").submit(function (e) {
                if ($("#entries td").length <= 0) {
                    e.preventDefault();
                    alert('Enter atleast one entry before submitting the form!');
                }
            });

        });
    </script>

</body>

</html>